<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>student_management-MVC-ajax</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>IndexStudentServlet</display-name>
		<servlet-name>IndexStudentServlet</servlet-name>
		<servlet-class>com.sundar.studentmanagement.student.servlet.IndexStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexStudentServlet</servlet-name>
		<url-pattern>/indexOfStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewStudentServlet</display-name>
		<servlet-name>ViewStudentServlet</servlet-name>
		<servlet-class>com.sundar.studentmanagement.student.servlet.ViewStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewStudentServlet</servlet-name>
		<url-pattern>/viewStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditStudentServlet</display-name>
		<servlet-name>EditStudentServlet</servlet-name>
		<servlet-class>com.sundar.studentmanagement.student.servlet.EditStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditStudentServlet</servlet-name>
		<url-pattern>/editStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateStudentServlet</display-name>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<servlet-class>com.sundar.studentmanagement.student.servlet.UpdateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<url-pattern>/updateStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreateStudentServlet</display-name>
		<servlet-name>CreateStudentServlet</servlet-name>
		<servlet-class>com.sundar.studentmanagement.student.servlet.CreateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateStudentServlet</servlet-name>
		<url-pattern>/createStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteStudentServlet</display-name>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<servlet-class>com.sundar.studentmanagement.student.servlet.DeleteStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<url-pattern>/deleteStudent</url-pattern>
	</servlet-mapping>
</web-app>
